.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8) url('/img/verifikasi.png') center center no-repeat;
  background-size: cover;
  z-index: 9999; /* Pastikan di atas elemen lain */
}
